### Ansible ###
vendor/roles/
*.retry
.vault_pass

### Packer ###
# Cache objects
build/
packer_cache/
packer-builder-arm

# Crash log
crash.log

# Built boxes
*.box

# Archives
*.img
*.tar.gz
*.xz

### Visual Studio Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
